@use "../abstracts/" as *;

html body {
	color: var(--clr-text-0);
	background: var(--clr-surface-0);
}

//! Main div with all the things
#root {
	//? Now #root is the new base
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;

	font-family: "Poppins", sans-serif;
}

main {
	flex-grow: 1;
}
